Host subspeak-dev
 HostName 173.255.217.200
 RemoteForward 52698 localhost:52698

Host bptest
  User fg
  HostName test.app.fundinggates.com

Host bpstaging
  User fg
  HostName staging.app.fundinggates.com

Host bpprod
  User fg
  HostName app.fundinggates.com

Host lbqa
  User dev
  HostName qa.lenderboard.com

Host localhost
  ForwardAgent yes
