Host subspeak-dev
 HostName 173.255.217.200
 RemoteForward 52698 localhost:52698

Host fgtest
  User fg
  HostName test.app.fundinggates.com
  IdentityFile ~/.ssh/fg_id_rsa

Host fgstaging
  User fg
  HostName staging.app.fundinggates.com
  IdentityFile ~/.ssh/fg_id_rsa

Host fgprod
  User fg
  HostName app.fundinggates.com
  IdentityFile ~/.ssh/fg_id_rsa
